* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    
}

html {
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  display: none;
}

body {
    background-color: #292930
}

.nav-bar {
    height: 90px;
    border-bottom: 1px solid rgb(81, 79, 79);
    background-color: #292930;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    /* overflow: hidden; */

}

.name {
    height: 90px;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
}

.nav-links {

    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-links a,.menu-bar a {
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}

.nav-links a:hover {
    color: #e7721e;
}

.contact-button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background-color: #e7721e;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;
    height: 97svh;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* margin-bottom: 100px; */
     background-color: #292930;
    
}

.about {
    width: 500px;
    height: auto;
    font-size: 24px;
    line-height: 46px;
    margin-right: 30px;
    padding-top: 50px;
    margin-left: 30px;
    
}

.image {

    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.image img {
    height: 550px;
    width: 600px;
}

.my_name{
    font-size: 24px;
    font-weight: 600;
}

.info {
    font-size: 28px;
    color: #e7721e;
    border-right: 4px solid white;
    animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

.about_para {
    line-height: 28px;
    font-size: 20px;
    margin-top: 26px;
    animation: fade-left 0.8s ease;
}

.about_para p {
    color: #d1d1d1;
}

.lets_connect {
    width: 500px;
    display: flex;
    gap: 60px;
    margin-top: 30px;
}

.connect {
    width: 150px;
    height: 50px;
    background-color: #e7721e;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    border: none;
    outline: none;
}

.arrow-icon {
    background-color: #e7721e;
}

.icons a {
    text-decoration: none;
    font-size: 30px;
    margin : 0px 10px;
    height: 5px;
    width: 5px;
}
.icon {
    transition: transform 0.7s ease;
}
.icon:hover {
    color: #d1d1d1;
    border-radius: 50%;
    transform: scale(1.3);
}

.footer-div {
    
    /* width: 320px; */
    height: 30px;
    border-top: 1px solid rgb(81, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    padding: 20px 0px;
}

.myskills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d1d25;
}

.myskills h1{
    text-align: center;
    margin-top: 70px;
}

.skill {
 display: flex;
 justify-content: center;
 align-items: center;

}
.skill-info {
    /* border: 1px solid white; */
    width: 600px;
    font-size: 24px;
    line-height: 46px;
    padding: 20px;
}

.images {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.bullets {
    font-size: 18px;
    line-height: 26px;
    margin-left: 18px;
}

.bullets li {
    margin-top: 10px;
    color: #d1d1d1;
}

.bullets span {
    color: #e7721e;
    font-size: 18px;
}

.gif {
    
    margin-top: 30px;
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -120px;
    display: none;
}

.education-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
    flex-direction: column;
    gap: 20px;

}

.edu_para {
    width: 740px;
    text-align: center;
    line-height: 32px;
    color: #d1d1d1;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

.certi_para {
    width: 720px;
    text-align: center;
    line-height: 32px;
    color: #d1d1d1;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 90px; */
}

.education-div button:hover {
    box-shadow: 0px 0px 3px white;
    transform: scale(1.02);
}

.education-div button {
    width: 260px;
    height: 60px;
    border-radius: 26px;
    color: white;
    background-color: #e7721e;
    font-size: 24px;
    border: none;
    outline: none;
    transition: transform 0.7s ease;
}

.certification-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
    flex-direction: column;
    gap: 20px;

}

.certification-div button:hover {
    box-shadow: 0px 0px 3px white;
    transform: scale(1.02);
}

.certification-div button {
    width: 230px;
    height: 60px;
    border-radius: 26px;
    color: white;
    background-color: #e7721e;
    font-size: 24px;
    border: none;
    outline: none;
    transition: transform 0.7s ease;
}

.time-line {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 26px;
}

.year-div {
    width: 160px;
    height: 1120px;
    display: flex;
    flex-direction: column;
    gap: 370px;
    align-items: end;
}
.achievements {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    
}
.achievements h1 {
    margin: 50px;
    text-align: center;
}

.achieve_cards {
    /* width: 1200px; */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    
}

.cards {
    
    width: 900px;
    /* height: 900px; */
    display: flex;
    overflow-x: scroll;
    padding: 20px;

}

.cards::-webkit-scrollbar {
    display: none;
}
.achieve_icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 30px 0px;
}

.achieve_icon {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.achieve_card:hover {
    transform: scale(1.1);
}
.achieve_matter {
    text-align: center;
    line-height: 36px;
    
}
.cards-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}


.achieve_card {
    width: 260px;
    height: 420px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #1d1d25;
    transition: transform 0.7s;
}


.year {
    padding-top: 10px;
}

.line-div {
    width: 0px;
    height: auto;
    border: 1px solid #e7721e;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 40px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: -62px;
    top: -20px;
    box-shadow: 0px 0px 8px white;
    animation : timeline 1.5s ease infinite alternate;
}

@keyframes timeline {
    0% {
        box-shadow: 0px 0px 0px white;
        
    }
    20% {
         box-shadow: 0px 0px 4px white;
    }
    40% {
        box-shadow: 0px 0px 8px white;
    }
    50% {
        background-color: whitesmoke;
    }
    60% {
        box-shadow: 0px 0px 12px white;
    }
    80% {
        box-shadow: 0px 0px 15px white;
    }
    100% {
        box-shadow: 0px 0px 6px white;
    }
}

.details-div {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
    
}

.details-div .card {
    width: 100%;
    height: auto;
    background-color: #1d1d25;
    /* box-shadow: 0px 0px 2px white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;

}


.matter {
    font-size: 19px;
    margin: 30px;
    line-height: 36px;
}





.percent {
    height: 8px;
    color: #e7721e;
    font-size: 20px;
    padding-top: 8px;
}
.col {
    display: flex;
    background-color: transparent;
}
.col-image {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
   
}
.col-image img {
    width: 80px;
    height: 80px;
}

.col-info {
    width: auto;
    height: 60px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    
}

.col-name {
    width: auto;
    background-color: transparent;
    color: #e7721e;
}

.edu-name {
    width: auto;
    height: 80px;
    font-size: 22px;
    background-color: transparent;
    

}

.matter .work {
    font-size: 18px;
    color: #e7721e;
}

.matter p {
    color: #d1d1d1d7;
}

.marks {
    display: flex;
    gap: 10px;
}

.sheets {
    /* background-color: #d1d1d11a; */
    padding-top: 10px;
}

.sheets button {
    background-color: #e7721e;
    height: 30px;
    width: 70px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    margin-right: 14px;
    transition: transform 0.7s ease;
}

.sheets button a {
    text-decoration: none;
    background-color: transparent;
}


.sheets button:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.certi_cat {
    display: flex;
    gap: 34px;
    font-size: 22px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.default1 {
    color: #e7721e;
}

.default2 {
    width: 110px;
    border-bottom: 1px solid white;
}

.cc .line{
   
    /* width: 110px; */
    margin-top: 14px;
   
}

.cc .click {
    animation: lineAnim 1.3s ease;
    border-bottom: 1px solid white;
    width: 110px;
}

.cc:hover {
    cursor: pointer;
}


@keyframes lineAnim {
    0% {
        width: 0px;
    }

    100% {
        width: 110px;
    }
}

/* .cc p {
    color: #e7721e;
} */

.cc .active {
    color: #e7721e;
}

.global_cert,.nrml_cert,.internships_cert,.digital_badges,.default3 {
    width: 90%;
    height: auto;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

    justify-content: center;
    align-items: start;
}

.pdf {
    width: 330px;
    height: auto;
    /* border: 1px solid white; */
}

.certi_image {
    width: fit-cpntent;
    height: 220px;
    /* border: 1px solid white;  */
}

.certi_image img{
    width: 330px;
    height: 220px;
    border-bottom: 6px solid #e7721e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}

.certi_info {
    width: auto;
    height: 80px;
    /* border: 1px solid #e7721e; */
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.certi_c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.certi_com {
    width: fit-content;
    height: 26px;
    background-color: #e7721e;
    /* color: rgba(255, 255, 255, 0.758); */
    color: white;
    padding: 4px 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    position: relative;
    top: -12px;
    

}

.name_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 12px;
    padding-top: 8px;
}

.certi_name h3{
    background-color: white;
    color: #4f4545;
}

.certi_date {
    background-color: white;
    color: #464242;
    font-weight: 600;
}

.view_cert {
    background-color: #1a1a1a5f;
    position: relative;
    top: -230px;
    width: auto;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
    animation: motion 0.8s ease;
}

.year_small {
    display: none;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  z-index: 3;
  width: 200px;
  height: 800px;
  /* border: 1px solid white; */
  position: absolute;
  right: -200px;
  transition: right 0.5s ease-out;
  display: none;
  

}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}




@keyframes menuAnim {
   0% {
    left: 330px ;
   }

   100% {
    left: 128px;
   }
}


@keyframes motion {
    0% {
        height: 0px;
    }

    100% {
        height: 220px;
    }
}


@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(60px); /* Start slightly to the right */
  }
  50% {
    opacity: 0.5;
    /* transform: translateX(30px); */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at normal position */
  }
}

.view_cert .view {
    width: fit-content;
    height: fit-content;
    padding: 8px 18px;
}

.view_cert .view a {
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}

.certi_image:hover .view_cert {
    display: flex;
}



@media (max-width : 1220px) and (min-width : 1115px) {
    .skill-info {
        width: 550px;
    }
    .gif {
        width: 550px;
    }
}

@media (max-width : 1115px) and (min-width : 1015px) {
    .skill-info {
        width: 550px;
    }
    .gif {
        width: 450px;
    }
}

@media (max-width : 1015px) {
    .skill {
         flex-wrap: wrap;
    }

    .skill-info {
        width: 100%;
    }
}

@media (max-width : 950px) {
    .image {
        width: 400px;
    }

    .image img {
        width: 400px;
        height: 400px;
    }

    .name {
        font-size: 20px;
    }

    .nav-links a {
        font-size: 18px;
    }

    .about_para {
        font-size: 18px;
    }

    .edu-name {
        font-size: 20px;
        line-height: 34px;
    }

    .col-info {
        margin-top: 22px;
        /* margin-left: 5px; */
    }
}

@media (max-width : 870px) {
    main {
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 60px;
    }

    .image {
        padding-bottom: 10px;
    }

    .about {
        padding-top: 30px;
    }
}

@media (max-width : 850px) {
    .nav-links {
        display: none;
    }
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width : 610px) {
    .col {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-image,.col-info {
        margin: 0px;
    }

    .col-info {
        width: 80%;
        justify-content: start;
        align-items: start;
        margin-top: 30px;
        position: relative;
        left: -10px;
        line-height: 34px;
        
    }

    .col-image {
        margin-top: 20px;
    }
    
    
}

@media (max-width : 660px) {
    .gif {
        width: 500px;
    }

    .menu-icon {
        right: -80px;
    }

    .about {
        width: 95%;
        padding-left: 30px;
        margin-right: 10px;
    }
}

@media (max-width : 690px) {
    .certi_para {
        width: 550px;
    }
}

@media (max-width : 550px) {
    .certi_para {
        width: 440px;
    }
}

@media (max-width : 440px) {
    .certi_para {
        width: 310px;
    }
    .marks {
        flex-direction: column;
        gap: 0px;
    }
}

@media (max-width : 520px) {
    .footer-div div {
        width: 100%;
    }
}

@media (max-width : 355px) {
    .pdf {
        width: 300px;
    }

    .certi_image img {
        width: 300px;
    }
}
@media (max-width : 500px) {
    .about {
        width: 100%;
        /* margin-left: 20px; */
    }

    .lets_connect {
       width: 100%; 
    }
    .menu-icon {
        right: -40px;
    }
}

@media (max-width:470px) {
    .icons a {
        font-size: 26px;
    }

    .lets_connect {
        gap: 26px;
    }

    .image {
        width: 450px;
    }

    .footer-div {
        flex-direction: column;
        height: auto;
    }

    .footer-div div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width : 420px) {
    .lets_connect {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons a {
        font-size: 30px;
    }

    .footer-div div {
        width: 100%;
    }
    .menu-icon {
        right: 3px;
    }
}


@media (max-width : 320px) {
    .skill-info,.image,.image img,.gif {
        width: 300px;
    }

    .image img {
        height: 300px;
    }

    .skill-info h2{
        font-size: 26px;
    }
    .footer-div div {
        width: 100%;
    }
    

   
}

@media (max-width : 810px) {
    .edu_para {
        margin-left: 10px;
        width: 600px;
    }
}

@media (max-width : 570px) {
    .edu_para {
       
        width: 400px;
    }

    .year-div {
        display: none;

    }

    .year_small {
        display: block;
        text-align: center;
        position: relative;
        top: -25px;
    }
    .line-div {
        margin-left: 20px;
    }

    .time-line {
        gap: 20px;
    }

    .dot {
        left: -56px;
        top: -20px;
    }
}
@media (max-width : 440px) {
    .col-info {
        height: 80px;
        margin-left: 20px;
    }
}

@media (max-width : 380px) {
    .col-info {
        margin-left: 20px;
    }

    .edu_para {
        width: 310px;
    }
    .time-line {
        gap: 10px;
    }
    .details-div {
        padding-left: 5px;
        padding-right: 5px;
    }

    .dot {
        left: -22px;
        top: -35px;
    }
}

@media (max-width : 470px) {
    .skill {
        width: 400px;
    }
    .gif {
        height: 300px;
    }
}

@media (max-width : 400px) {
    .image {
        max-width: 320px;
    }
    .image img {
        max-width: 300px;
    }

    .skill {
        width: 300px;
    }

    .skill-info {
        padding-right: 0px;
        padding-left: 5px;
    }

    
}